@charset "UTF-8";


header {
    background-color: #FF3366;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

.header__logo {
	width: 50px;
	height: 50px;
	background: #FFFFFF;
	border-radius: 50px;
}

.header__nav {
    width: 180px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

main {
    background-color: #F8F8FF;
    padding: 20px;
}

.main__center1 {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.main__center2 {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.main__center3 {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.main__center4 {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.main__logo1 {
    background-color: #DDDDDD;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.main__contents1 {
    background-color: #FFFFFF;
    width: 1600px;
    height: 140px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 0px #EEE;
}

.main__logo2 {
    background-color: #DDDDDD;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.main__contents2 {
    background-color: #FFFFFF;
    width: 1600px;
    height: 140px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 0px #EEE;
}

.main__logo3 {
    background-color: #DDDDDD;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.main__contents3 {
    background-color: #FFFFFF;
    width: 1600px;
    height: 140px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 0px #EEE;
}

.main__logo4 {
    background-color: #DDDDDD;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
}

.main__contents4 {
    background-color: #FFFFFF;
    width: 1600px;
    height: 140px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 0px #EEE;
}

footer {
    height: 70px;
    background-color: #4B0082;
}